{deps,[
  {chronica, "1.0.0", {git, "https://github.com/eltex-ecss/chronica.git", {branch, "master"}}}
]}.

{cover_enabled, true}.

{eunit_opts, [verbose,
  {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [
  debug_info,
  warn_export_all,
  warning_as_error,
  {i, "include"},
  {src_dirs, ["src"]}
]}.