[
    {chronica,[
        {rules,[
            {acpCoder,            "acpCoder",   info,       [encode_decode_pack], on},
            {acpCoderError,       "acpCoderError",    error,      [error_pack],   on}
        ]},

        {flows,[
            {encode_decode_pack, [{file, "acp_coder.log"}]},
            {error_pack,         [{file, "acp_coder_error.log"}]}
        ]},

        {formats,[
            {default, "%Y-%M-%D %H:%Mi:%S.%Ms %PRIORITY %Pid [%Module]: %Message"}
        ]},

        {active, true},
        {rotate_at_start, false},
        {colored, true},
        {detail_info, false},
        {log_root, "log/<Node>"},
        {max_file_size, 10485760},
        {max_file_num, 5},
        {auto_testing, false},
        {sync, false}
    ]},

    {sasl, [
         {sasl_error_logger, false}
        ]}

].
